---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import * as hours from "../hours.md"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Flight Hours</h1>
			
			<p>Current as of : </p>

			<p>Current total hours {hours.frontmatter.total_hours} end</p>
			
			<div class="grid">
			  <div>Total</div>
			  <div>{hours.frontmatter.total_hours}</div>
			  <div>PIC</div>
			  <div></div>
			  <div>Five</div>
			  <div>Cross Country</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
